h2{
  color:#bb6b24 ;
}
.container content, .container aside {
    position: relative;
  }

  figure {
    width: 100%;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0rem;
    margin-left: 0px;
  }
  
  figure img {
    display: block;
    width: 100%;
    height: auto;
  } 

  .highlights figure img {
    display: block;
    width: 100%;
    height: calc(200px - .25rem);
  } 
  figure h4 {
    position: absolute;
    top: calc(100% - 50px);
    left: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    margin: 0;
    text-indent: 10px;
  } 
  figure .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
        -webkit-transition: .6s ease;
        transition: .6s ease;
  }
  figure .overlay .description {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  figure:hover h4 {
    display: none;
  } 
  figure:hover .overlay {
    height: 100%;
  }
  .coffee img{
    height: 300px !important;
  }
  h2{
    text-align: center !important;
  }