@charset "UTF-8";
.rating[data-rating="5.5"] .rating-item:nth-child(-n+5):after, .rating[data-rating="5"] .rating-item:nth-child(-n+5):after, .rating[data-rating="4.5"] .rating-item:nth-child(-n+4):after, .rating[data-rating="4"] .rating-item:nth-child(-n+4):after, .rating[data-rating="3.5"] .rating-item:nth-child(-n+3):after, .rating[data-rating="3"] .rating-item:nth-child(-n+3):after, .rating[data-rating="2.5"] .rating-item:nth-child(-n+2):after, .rating[data-rating="2"] .rating-item:nth-child(-n+2):after, .rating[data-rating="1.5"] .rating-item:nth-child(-n+1):after, .rating[data-rating="1"] .rating-item:nth-child(-n+1):after, .rating[data-rating="0.5"] .rating-item:nth-child(-n+0):after, .rating[data-rating="0"] .rating-item:nth-child(-n+0):after {
  content: "";
}

.rating[data-rating="5.5"] .rating-item:nth-child(6):after, .rating[data-rating="4.5"] .rating-item:nth-child(5):after, .rating[data-rating="3.5"] .rating-item:nth-child(4):after, .rating[data-rating="2.5"] .rating-item:nth-child(3):after, .rating[data-rating="1.5"] .rating-item:nth-child(2):after, .rating[data-rating="0.5"] .rating-item:nth-child(1):after {
  content: "";
}

.rating {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #900;
  color: orange;
}
.rating-item {
  font-size: 24px;
  display: block;
  font-family: FontAwesome;
}
.rating-item::after {
  content: "";
}	

.product-name strong{
  font-weight: bolder;
}

