<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SGU_UDW1/_public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/SGU_UDW1/_public/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/SGU_UDW1/_public/hover/css/hover-min.css">
    <link rel="stylesheet" href="/SGU_UDW1/_public/css/utilities.css">
    <link rel="stylesheet" href="/SGU_UDW1/_public/css/animate.min.css">
    <link rel="stylesheet" href="/SGU_UDW1/_public/css/component/admin.css">
    <title>Wanted Coffee</title>
    <link rel="shortcut icon" href="/SGU_UDW1/_public/images/logo/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/SGU_UDW1/_public/images/logo/favicon.ico" type="image/x-icon">
    <script src="/SGU_UDW1/_public/js/lib/chart.min.js"></script>
</head>
<body>
    <!-- ============= MENU ============== -->
    <div insert-html="/SGU_UDW1/_template/admin_navbar.html"></div>
    <!-- =========================== -->
    <div class="row" id="app">
        <div class="col-md-12">
            <div class="card outer-card">
                <h4 class="card-title m-3">Edit product</h4>
                <div class="card-body">
                    <form v-on:submit="saveForm()">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label class="control-label">Product image</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label class="control-label">Product name</label>
                                <input type="text" v-model="plant.plant_name" class="form-control">
                            </div>  
                            <div class="col-sm-6 form-group">
                                <label class="control-label">Category</label>
                                <select v-model="plant.category_id" class="form-control">
                                  <option value="1">Brewers</option>
                                  <option value="1">Roasting</option>
                                  <option value="1">Machine</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <a href="/SGU_UDW1/admin/product" class="m-1 btn btn-outline-secondary">Back</a>
                                <a href="/SGU_UDW1/admin/product" class="m-1 btn btn-outline-primary">Edit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div insert-html="/SGU_UDW1/_template/footer.html"></div>
        <script src="/SGU_UDW1/_public/js/lib/jquery-3.5.1.min.js"></script>
        <script data-main="/SGU_UDW1/_public/js/main" src="/SGU_UDW1/_public/js/require.js"></script>
        <script type="text/javascript">
        	function getCookie(cname) {
			  var name = cname + "=";
			  var decodedCookie = decodeURIComponent(document.cookie);
			  var ca = decodedCookie.split(';');
			  for(var i = 0; i <ca.length; i++) {
			    var c = ca[i];
			    while (c.charAt(0) == ' ') {
			      c = c.substring(1);
			    }
			    if (c.indexOf(name) == 0) {
			      return c.substring(name.length, c.length);
			    }
			  }
			  return "";
			}
        	if (getCookie("admin") != "admin") {
        		window.location = "/SGU_UDW1/admin/login";
			  }

        </script>
        <script src="/SGU_UDW1/_public/js/component/admin/nav.js"></script>
</body>
</html>